@import url("https://fonts.googleapis.com/css2?family=Allura&family=Indie+Flower&family=Lato&family=Merriweather&family=Montserrat:wght@400;900&family=Nunito:wght@700&family=Permanent+Marker&family=Playfair+Display&family=Poppins&family=Press+Start+2P&family=Roboto&family=Titillium+Web:wght@900&family=Ubuntu&family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --title-color: rgb(138, 136, 136);
  --muted-color: rgb(182, 182, 182);
  --bg-color-grey: rgb(214, 214, 214);
}

body {
  /* background-color: #ffffff;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG-JFWKOQhLQzJ2XGoAeQnypSbvDWGaAbAAUmGTrTU85_jiqXHzNShPyRQxxlYudsHQjU&usqp=CAU"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none;
}

/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
inpbody {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* background-color: #e7e6e6; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title-xl,
.sub-title-para,
.more-bb {
  /* margin-bottom: calc(2rem + 2.75vmax); */
}
.title-xl {
  font-size: clamp(4rem, 4vw + 1rem, 8rem);
  font-weight: 600;
  letter-spacing: 3px;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    109.6deg,
    rgb(255, 89, 24) 11.2%,
    rgba(252, 232, 68, 1) 52%,
    rgba(53, 178, 239, 1) 100.2%
  );
  background-image: linear-gradient(
    89.9deg,
    rgba(255, 243, 110, 1) 16.9%,
    rgba(30, 204, 214, 1) 55.1%,
    rgb(250, 230, 49) 90.7%
  );
}

.sub-title-para {
  font-size: clamp(2rem, 2rem + 0.75vw, 3rem);
  font-weight: 500;
}

.more-bbtn {
  color: rgb(255, 255, 255);

  padding: 1rem 2rem;
  outline: none;
  border-radius: 0.2rem;
  border: 1px solid rgb(248, 192, 38);
  font-size: clamp(1.6rem, 1rem + 0.55vw, 2rem);
  font-weight: 500;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.more-bbtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 90%;
  width: 0%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center;
  z-index: -1;
}

.more-bbtn:hover::after,
.more-bbtn:visited::after {
  opacity: 1;
  width: 98%;
}

.title {
  /* padding: 1rem; */
  font-size: clamp(4.8rem, 5vw, 5.2rem);
  /* font-weight: 600; */
}

.sub_title {
  /* padding: 1rem; */
  font-size: clamp(3.2rem, 4vw, 4.2rem);
  /* font-weight: 600; */
}
.small_sub_title {
  /* padding: 1rem; */
  font-size: clamp(2rem, 2vw + 0.5rem, 4rem);
  /* font-weight: 600; */
}
.para {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto", sans-serif;
  /* letter-spacing: 1px; */
  /* padding: 0.2rem; */
  font-size: clamp(1.6rem, 1.2rem + 0.309vw, 2rem);
}
.para_big {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 0.2rem;
  font-size: clamp(1.8rem, 1.4rem + 0.309vw, 2rem);
}
.para_small {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.1rem, 1.2rem + 0.259vw, 2rem);
}
.para_extra_small {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 0.8rem + 0.17vw, 1rem);
}

.small_txt {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}
.extra_small_txt {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

.bbtn {
  font-family: "Ubuntu", sans-serif;
  /* color: rgb(255, 255, 255); */
  /* background-color: transparent; */
  outline: none;

  border: 1px solid rgb(253, 253, 253);
  padding: 1rem 2rem;
  font-size: clamp(1.6rem, 1rem + 0.55vw, 2rem);
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bbtn:hover,
.bbtn:active {
  /* color: rgb(248, 192, 38); */
  /* background-color: white; */
}

.bbtn:active {
  transform: scale(1.05);
  transition: all 0.2s;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
    font-weight: 600;
  }

  .sub_title {
    font-size: 20px;
    font-weight: 600;
  }
  .para {
    font-size: 14px;
  }

  .small_txt {
    font-size: 12px;
  }

  /* Capital buton */
  .bbtn {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  /* non capital buton */
  /* .bbtn{
font-weight: 500;
 }  */
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  place-content: center;
  place-items: center;
  gap: 5px;
}

.grid-auto-fr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  place-content: center;
  place-items: center;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* -------------------------- */
/* 404 page  */

#notfound {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound {
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound_404 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.notfound h1 {
  font-size: 25vmax;
  color: rgba(31, 30, 30, 0.096);
}
.notfound h2 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.notfound p {
  color: rgb(54, 54, 54);
  font-family: "Roboto", sans-serif;
  margin: 1.5vmax;
}

.notfound > a {
  background-color: rgb(0, 102, 255);
  border: 2px solid rgb(0, 102, 255);
  padding: 1rem 2rem;
  color: white;
  border-radius: 3rem;
}
.notfound > a > p {
  color: white;
}
.notfound > a > p:hover {
  color: rgb(7, 7, 7);
}
.notfound > a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 102, 255);
  color: black;
}

/* -------------------------- */

/* ------Spinner----------------- */
.loader {
  @apply border-gray-200 rounded-full border-4 h-10 w-10 ease-linear border-t-gray-800;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-image: linear-gradient(135deg, #fd7a23 10%, #fc1b1b 100%);
}

.red {
  background-color: rgb(238, 30, 30);
}
.green {
  background-color: rgb(43, 236, 17);
}

/* Pagination */
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 2vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.page-item {
  background-color: rgba(255, 255, 255, 0.849);
  list-style: none;
  border: 0.5px solid rgba(0, 0, 0, 0.205);
  cursor: pointer;
  transition: all 0.3s;
  padding: 2px 8px;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  /* font-size: clamp(1.2rem, 1rem + 0.309vw, 2rem); */
  font-size: 14px;

  color: rgb(82, 80, 80);
  transition: all 0.3s;
}
.page-item:hover {
  background-color: rgba(158, 68, 243, 0.37);
}

.page-item:hover .page-link {
  color: rgba(83, 83, 83, 0.925);
}

.pageItemActive {
  background-color: #9411ff;
}

.pageLinkActive {
  color: white;
}

@media screen and (min-width: 640px) {
  .page-item {
    padding: 4px 10px;
  }

  .page-link {
    font-size: 18px;
  }
}

/* -------LOGIN AND SIGNUP------------------------- */
.loginSignUpContainer {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--bg-color-grey);
}

.loginSignUpBox {
  display: flex;
  flex-direction: column;
  min-width: 280px;

  height: 420px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginSignUpToggle {
  display: flex;
  height: 4rem;
}

.loginSignUpToggle > p {
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

.loginSignUpToggle > p:hover {
  color: tomato;
}

.loginSignUpBox > div > button {
  background-color: tomato;
  width: 50%;
  height: 3px;
  border: none;
  transition: all 0.4s;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vmax;
  /* height: 430px; */
  /* height: 100%; */
  transition: all 0.4s;
}

.loginForm div:first-child {
  margin-top: 5rem;
}
.loginForm > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}
.registerForm > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.2rem;
}
.registerForm > div > input:first-child {
  margin-top: 5px;
}
.loginForm > div > input,
.registerForm > div > input {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 1.5rem 1rem;
  padding-left: 4.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.144);
  /* background-color: rgba(211, 208, 208, 0.192); */
  border-radius: 4px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lato", sans-serif;
}

.linput {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 1.5rem 1rem;
  padding-left: 4.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.144);
  /* background-color: rgba(211, 208, 208, 0.192); */
  border-radius: 4px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lato", sans-serif;
}

.registerForm > div > input {
  padding: 1.2rem 1rem;
  padding-left: 4.5rem;
}
.loginForm > div > input:focus,
.registerForm > div > input:focus {
  background-color: rgba(211, 208, 208, 0.322);
}

.loginForm > div > i,
.registerForm > div > i {
  position: absolute;
  transform: translateX(1rem);
  font-size: 2rem;
  color: var(--title-color);
  color: rgb(156, 156, 156);
}
.loginForm > div > i:last-child,
.registerForm > div > i:last-child {
  position: absolute;
  transform: translateX(28rem);
  font-size: 2rem;
  color: var(--title-color);
  color: rgb(156, 156, 156);
}

@media screen and (max-width: 330px) {
  .loginForm > div > i:last-child,
  .registerForm > div > i:last-child {
    transform: translateX(25rem);
  }
}

.iconHidden {
  display: none;
}
.loginForm > a {
  color: var(--title-color);
  align-self: flex-end;
  margin-bottom: 4rem;
}
.loginForm > a:hover {
  color: tomato;
}

.login-btn,
.signUp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: tomato;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.signUp-btn {
  /* margin-top: 2rem; */
}

.login-btn:hover,
.signUp-btn:hover {
  background-color: rgb(216, 95, 73);
}
.login-btn:active,
.signUp-btn:active {
  transform: scale(1.05);
}

#signUpImage > img {
  width: 4.5rem;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 5px;
}

#signUpImage > input {
  display: flex;
  padding: 0;
  /* width: 100%; */
}

#signUpImage > input::file-selector-button {
  z-index: 2;
  cursor: pointer;
  width: 100%;
  height: 4.5rem;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--title-color);
}
#signUpImage > input::file-selector-button:hover {
  background-color: rgba(206, 206, 206, 0.527);
}

.registerForm {
  transform: translateY(-100%) translateX(-100%);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0);
}
.shiftToNeutralForm {
  transform: translateX(0) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

/* --------button loader--------------------- */
.btn-loading {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  /* padding: 2px; */
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}
/* -------Loader---- */
.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid grey;
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}

/* .... */
.book-type-sticker {
  clip-path: polygon(0% 0%, 100% 0, 83% 55%, 100% 100%, 0% 100%);
}

.black-glass-bg {
  background-image: linear-gradient(135deg, #3d3d3c 10%, #423fdb 100%);
}

/* ----------------------Products----------------- */
.products-heading-container {
  /* background-color: white;
  padding-bottom: 1px; */
}
.home-heading {
  text-align: center;
  color: rgb(87, 86, 86);
  border-bottom: 2px solid rgba(145, 145, 145, 0.24);
  margin: 1vmax auto;
  width: 30vmax;
  padding: 1vmax;
  font-size: calc(1.8rem + 0.18vw);
  font-family: "Roboto", sans-serif;
}

.prod-filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* filterBox */
.filterBox {
  padding: 2vmax 0;
  width: 20vmax;
  margin-left: 2vmax;
  padding: 2vmax;
  margin: 0 1vmax;
  background-color: white;
  /* border-right: 2px solid rgba(128, 128, 128, 0.26);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 5px; */
}

.filterBox > h3 {
  color: grey;
  margin: 1vmax 0;
  font-family: "Roboto", sans-serif;
}

.filterBox li p::first-letter {
  text-transform: capitalize;
}
.categoryLink {
  margin: 0.5vmax 2vmax;
  cursor: pointer;
  color: grey;
  transition: all 0.3s;
}

.categoryLink :hover {
  color: tomato;
}

@media screen and (max-width: 600px) {
  .home-heading {
    font-size: 16px;
  }
  .prod-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filterBox {
    /* order: 1; */
    margin-top: 2vmax;
    width: 70%;
    border-right: none;
  }
}

/* ----------------.product-details {
  width: 100vw;
  max-width: 100%;
  padding: 2vmax 12vmax;
  display: flex;
}


/* SLIDER */
.slider-container .slide-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-container img {
  width: 20vmax;
  object-fit: cover;
}
.carousel .thumb {
  width: 5%;
}
.carousel {
  text-align: center;
}
.product-details > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
}

.product-details .product-right {
  align-items: flex-start;
}

.detailsBlock-1 > h2 {
  color: rgb(53, 53, 53);
  /* font-size: clamp(1.6rem, 1.2rem + 0.309vw, 2rem); */
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-1 > p {
  color: rgba(53, 53, 53, 0.712);
  /* font-size: 0.8vmax; */
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  width: 100%;
  padding: 1vmax 0;
}
.detailsBlock-2 > span {
  color: rgba(53, 53, 53, 0.712);
  /* font-size: 0.8vmax; */
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-3 {
  width: 100%;
}
.detailsBlock-3 > h1 {
  font-size: 1.8vmax;
  font-weight: 600;
  margin: 1vmax 0;
  color: rgb(53, 53, 53);
  font-family: "Lato", sans-serif;
}
.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}
.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  padding: 0.5vmax;
  color: white;
  transition: all 0.3s;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.774);
}
.detailsBlock-3-1-1 > input {
  border: none;
  outline: none;
  padding: 0.5vmax;
  color: rgba(0, 0, 0, 0.603);
  text-align: center;
  width: 3vmax;
}
.addToCart-btn {
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  cursor: pointer;
  font-size: 1vmax;
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}
.addToCart-btn:hover {
  background-color: rgb(250, 119, 96);
}
.addToCart-btn:active {
  transform: scale(1.05);
}

.greenColor {
  color: green;
}
.redColor {
  color: red;
}

.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding: 1vmax 0;
  margin: 1vmax 0;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.719);
}
.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.877);
  /* font-size: 1.2vmax; */
}
.detailsBlock-4 > p {
  color: rgba(0, 0, 0, 0.568);
  /* font-size: 0.8vmax; */
}

.submitReview {
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin-top: 3vmax;
  cursor: pointer;
  /* font-size: 1vmax; */
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}

.submitReview:hover {
  background-color: rgb(250, 119, 96);
}
.submitReview:active {
  transform: scale(1.05);
}

.reviewsHeading {
  color: rgb(88, 88, 88);
  font-size: 1.4vmax;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgba(88, 88, 88, 0.336);
  text-align: center;
  margin: auto;
  width: 20vmax;
  padding: 1vmax;
  margin-bottom: 4vmax;
}

.noReviews {
  color: rgb(88, 88, 88);
  font-size: 1.4vmax;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.reviews {
  display: flex;
  overflow: auto;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .product-details {
    flex-direction: column;
    height: unset;
  }
  .product-details .product-right {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    /* font-size: 2.8vmax; */
    text-align: center;
  }
  .detailsBlock-1 > p {
    /* font-size: 1vmax; */
    text-align: center;
    margin-bottom: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    /* font-size: 1.8vmax; */
  }
  .detailsBlock-3 > h1 {
    text-align: center;
    /* font-size: 3vmax; */
  }
  .detailsBlock-3-1 {
    flex-direction: column;
  }
  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }
  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    font-size: 1.8vmax;
    width: 5vmax;
  }
  .detailsBlock-3 > p {
    text-align: center;
    /* font-size: 1.8vmax; */
  }
  .addToCart-btn,
  .submitReview {
    /* font-size: 1.7vmax; */
    padding: 1.5vmax;
    width: 20vmax;
    margin: 2vmax 0;
  }
  .detailsBlock-4 {
    /* font-size: 2.5vmax; */
  }
  .detailsBlock-4 > p {
    text-align: center;
    /* font-size: 1.8vmax; */
  }
}

/* //-------------------------------------------------------- */

.navlink::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  /* height: 50px; */
  height: 2px;
  width: 0%;
  background-color: white;
  transition: all 0.4s ease-in-out;
  /* clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(12% 0, 87% 0, 100% 50%, 86% 100%, 12% 100%, 0% 50%); */
  /* transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1); */
  z-index: 999;
}
.navlink:hover::after {
  width: 100%;
}

.mcqs-heading1::after,
.mcqs-heading2::after,
.mcqs-heading3::after,
.mcqs-heading4::after,
.mcqs-heading5::after,
.mcqs-heading6::after,
.mcqs-heading7::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-20deg);
  /* height: 50px; */
  padding: 20px 0;
  width: 100%;
  border-radius: 3px;
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
  /* clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(12% 0, 87% 0, 100% 50%, 86% 100%, 12% 100%, 0% 50%); */
  /* transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1); */
  z-index: -1;
}

.mcqs-heading2::after {
  background-image: linear-gradient(135deg, #fd6585 10%, #0d25b9 100%);
}
.mcqs-heading3::after {
  background-image: linear-gradient(135deg, #ff7af5 10%, #513162 100%);
}
.mcqs-heading4::after {
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
.mcqs-heading5::after {
  background-image: linear-gradient(135deg, #70f057 10%, #ff0aeb 100%);
}
.mcqs-heading6::after {
  background-image: linear-gradient(135deg, #ff0ac2 10%, #ddda23 100%);
}
.mcqs-heading7::after {
  background-image: linear-gradient(135deg, #00b4d8 10%, #49c628 100%);
}

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.purple-bg-1 {
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.yellow-bg-1 {
  background-image: linear-gradient(90deg, #ffe53b 0%, #ff2525 74%);
}

.cg-safron {
  background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
}
.p-bg1 {
  background-color: #9321df;
}

.cg-footer {
  background: linear-gradient(135deg, #fdd819 10%, #e80505 100%),
    url("https://png.pngtree.com/background/20210709/original/pngtree-sketch-drawing-of-city-building-picture-image_895642.jpg")
      no-repeat center;
  background-size: cover;
}
/* -----ProductDetails----------- */
.product-details {
  width: 100vw;
  max-width: 100%;
  padding: 2vmax 12vmax;
  display: flex;
}

/* SLIDER */
.slider-container .slide-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-container img {
  width: 20vmax;
  object-fit: cover;
}
.carousel .thumb {
  width: 5%;
}
.carousel {
  text-align: center;
}
.product-details > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vmax;
}

.product-details .product-right {
  align-items: flex-start;
}

.detailsBlock-1 > h2 {
  color: rgb(53, 53, 53);
  /* font-size: clamp(1.6rem, 1.2rem + 0.309vw, 2rem); */
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-1 > p {
  color: rgba(53, 53, 53, 0.712);
  /* font-size: 0.8vmax; */
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  width: 100%;
  padding: 1vmax 0;
}
.detailsBlock-2 > span {
  color: rgba(53, 53, 53, 0.712);
  /* font-size: 0.8vmax; */
  font-weight: 200;
  font-family: "Roboto", sans-serif;
}
.detailsBlock-3 {
  width: 100%;
}
.detailsBlock-3 > h1 {
  font-size: 1.8vmax;
  font-weight: 600;
  margin: 1vmax 0;
  color: rgb(53, 53, 53);
  font-family: "Lato", sans-serif;
}
.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}
.detailsBlock-3-1-1 > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  padding: 0.5vmax;
  color: white;
  transition: all 0.3s;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: rgba(0, 0, 0, 0.774);
}
.detailsBlock-3-1-1 > input {
  border: none;
  outline: none;
  padding: 0.5vmax;
  color: rgba(0, 0, 0, 0.603);
  text-align: center;
  width: 3vmax;
}
.addToCart-btn {
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  cursor: pointer;
  font-size: 1vmax;
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}
.addToCart-btn:hover {
  background-color: rgb(250, 119, 96);
}
.addToCart-btn:active {
  transform: scale(1.05);
}

.greenColor {
  color: green;
}
.redColor {
  color: red;
}

.detailsBlock-3 > p {
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding: 1vmax 0;
  margin: 1vmax 0;
  font-size: 1vmax;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.719);
}
.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.877);
  /* font-size: 1.2vmax; */
}
.detailsBlock-4 > p {
  color: rgba(0, 0, 0, 0.568);
  /* font-size: 0.8vmax; */
}

.submitReview {
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin-top: 3vmax;
  cursor: pointer;
  /* font-size: 1vmax; */
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}

.submitReview:hover {
  background-color: rgb(250, 119, 96);
}
.submitReview:active {
  transform: scale(1.05);
}

.reviewsHeading {
  color: rgb(88, 88, 88);
  font-size: 1.4vmax;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgba(88, 88, 88, 0.336);
  text-align: center;
  margin: auto;
  width: 20vmax;
  padding: 1vmax;
  margin-bottom: 4vmax;
}

.noReviews {
  color: rgb(88, 88, 88);
  font-size: 1.4vmax;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.reviews {
  display: flex;
  overflow: auto;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .product-details {
    flex-direction: column;
    height: unset;
  }
  .product-details .product-right {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    /* font-size: 2.8vmax; */
    text-align: center;
  }
  .detailsBlock-1 > p {
    /* font-size: 1vmax; */
    text-align: center;
    margin-bottom: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    /* font-size: 1.8vmax; */
  }
  .detailsBlock-3 > h1 {
    text-align: center;
    /* font-size: 3vmax; */
  }
  .detailsBlock-3-1 {
    flex-direction: column;
  }
  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }
  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    font-size: 1.8vmax;
    width: 5vmax;
  }
  .detailsBlock-3 > p {
    text-align: center;
    /* font-size: 1.8vmax; */
  }
  .addToCart-btn,
  .submitReview {
    /* font-size: 1.7vmax; */
    padding: 1.5vmax;
    width: 20vmax;
    margin: 2vmax 0;
  }
  .detailsBlock-4 {
    /* font-size: 2.5vmax; */
  }
  .detailsBlock-4 > p {
    text-align: center;
    /* font-size: 1.8vmax; */
  }
}
/* ---------------------------- */

/* ---------cartitemcard-------- */
.cart-item-card {
  display: flex;
  /* margin: 1rem; */
  margin-left: 1vmax;
}

.cart-item-card > img {
  width: 15vw;
  /* object-fit: cover; */
}

.cart-item-card > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
}

.cart-item-card > div > a {
  margin-bottom: 1vmax;
  margin-left: 1vmax;
  color: black;
}
.cart-item-card > div > a:hover {
  color: rgb(36, 51, 190);
}
.cart-item-card > div > p {
  margin-bottom: 1vmax;
  margin-left: 1vmax;
  align-self: auto;
}

.cart-item-card > div > p:last-child {
  color: tomato;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /* .cart-item-card > img {
    width: 20vw;
  } */
  .cart-item-card > div > a,
  .cart-item-card > div > p {
    font-size: 12px;
  }
}
/* ------------------- */

/* ---------Cart-----------
 */
.cartpage {
  padding: 5rem;
  background-color: rgb(255, 255, 255);
}

.cart-header {
  background-color: tomato;
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;
  color: white;
}

.cart-header > p {
  margin: 1rem;
}

.cart-header > p:last-child {
  text-align: right;
}

.cart-container {
  background-color: white;
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  margin: 2vmax auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 5px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.cart-container-quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.7rem;
}

.cart-container-quantity > div > button {
  border: none;
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  padding: 1vmax;
  color: white;
  transition: all 0.3s;
}
.cart-container-quantity > div > button:hover {
  background-color: rgba(0, 0, 0, 0.774);
}
.cart-container-quantity > div > input {
  border: none;
  outline: none;
  padding: 0.5vmax;
  color: rgba(0, 0, 0, 0.603);
  text-align: center;
  width: 3vmax;
}

.cart-container-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.cart-container-price > p {
  color: tomato;

  font-family: "Nunito", sans-serif;
}
@media screen and (max-width: 600px) {
  .cartpage {
    padding: 7rem 0.3rem;
  }

  .cart-header {
    width: 100%;
  }
  .cart-container {
    width: 100%;
    /* grid-template-columns: 3fr 1.5fr 1fr; */
  }
}

.cart-gross-profit {
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 2.5fr;
  margin: 2vmax auto;
}
.cart-gross-profit-box {
  border-top: 3px solid tomato;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}
.cart-gross-profit-box > p {
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.712);
  font-weight: 600;
}

.cart-gross-profit-box > span {
  color: tomato;
  font-family: "Merriweather", serif;
  font-family: "Nunito", sans-serif;
}
.checkout-box {
  width: 90%;
  display: grid;
  grid-template-columns: 4fr 2.5fr;
  margin: 2vmax auto;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15em; */
  padding: 1rem 4rem;
  background-color: tomato;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;

  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  font-family: "Nunito", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
}
.checkout-btn:hover {
  background-color: rgb(216, 95, 73);
}
.checkout-btn:active {
  transform: translateY(-10%);
}

.empty-cart {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.empty-cart > h1 {
  color: var(--title-color);
  margin: 2vmax;
}

.empty-cart > a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 15em; */
  padding: 1rem 4rem;
  margin: 2vmax;
  background-color: tomato;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  border-radius: 1rem;

  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  font-family: "Nunito", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
}
.empty-cart > a:hover {
  background-color: rgb(197, 74, 52);
}
@media screen and (max-width: 470px) {
  .cart-header {
    grid-template-columns: 3fr 1.5fr 1.5fr;
  }
  .cart-container {
    grid-template-columns: 3fr 1.5fr 1.5fr;
  }
  .cart-gross-profit {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .cart-gross-profit-box {
    justify-content: space-around;
  }
  .checkout-box {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .checkout-btn {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .empty-cart h1 {
    font-size: 3rem;
  }
}
/* ------------------------- */

@media screen and (min-width: 1280px) {
  .layout {
    width: 1280px;
  }
}

/* //---------------checkoutsTeps----------------------------------------- */
.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-horizontal.Mui-completed {
  background-color: tomato;
}

.Mui-active
/* .Mui-active, */ {
  color: tomato;
}
/* ----------------- */

/* --------shipping page---------- */
.shippingContainer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2vmax;
}

.shippingBox {
  background-color: white;
  min-width: 300px;
  /* height: 90vh; */
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 20px;
  padding: 16px 0;
}

.shippingHeading {
  color: rgba(0, 0, 0, 0.664);
  width: 80%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.685);
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 600;

  text-align: center;
}

.shippingForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0 2vmax;
  height: 80%;
  transition: all 0.2s ease-in-out;
  gap: 10px;
}

.shippingForm > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.shippingForm > div > input,
.shippingForm > div > select {
  width: 100%;
  padding: 1vmax 40px;
  padding-right: 20px;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.267);
  border-radius: 4px;
  font-size: 16px;
}

.shippingForm > div > input:focus {
  background-color: rgba(0, 0, 0, 0.055);
}

.shippingForm > div > svg {
  position: absolute;
  transform: translateX(8px);
  font-size: 30px;
  color: rgb(0, 0, 0, 0.667);
}

.shippingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: tomato;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.shippingBtn {
  margin-top: 20px;
}

.shippingBtn:hover {
  background-color: rgb(216, 95, 73);
}

/* ---------------confirm order page----------------- */
.confirmOrderPage {
  min-height: 100vh;
  max-height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 6fr 3fr;
}

.confirmOrderPage > div:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.24);
}

.confirmShippingArea,
.confirmCartItems {
  padding: 3vmax;
  padding-bottom: 0;
}

.confirmShippingArea h2,
.confirmCartItems h2,
.orderSummaray h2 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.836);
  width: 200px;
  padding-bottom: 6px;
}

.confirmShippingAreaBox,
.confirmCartItems {
  /* margin: 2vmax; */
}

.confirmShippingAreaBox {
  /* display: flex; */
  margin: 1vmax 0;
}

.mutedColor {
  color: #575757;
}

.confirmCartItemsContainer {
  max-height: 25vmax;
  max-width: 700px;
  overflow-y: auto;
}

/* .confirmCartItemsContainer > div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid rgba(128, 128, 128, 0.219);
   margin: 5px;
 }
 .confirmCartItemsContainer > div > span {
   margin: 2vmax;
 }
 
 .confirmCartItemsContainer > div > div {
   display: flex;
   gap: 50px;
 } */

.orderSummaray {
  padding: 4vmax 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paymentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  padding: 10px 40px;
  border-radius: 5px;
  background-color: tomato;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.paymentBtn {
  margin-top: 20px;
}

.paymentBtn:hover {
  background-color: rgb(216, 95, 73);
}

.orderSummaryTotal {
  display: flex;
  gap: 10px;
  color: tomato;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .confirmOrderPage {
    grid-template-columns: 1fr;
  }
  .confirmOrderPage > div:last-child {
    border: none;
  }

  .confirmCartItemsContainer > div > div {
    display: flex;
    gap: 5;
    flex-direction: column;
  }

  .confirmCartItemsContainer > div > div {
    /* display: flex;
     gap: 10px;
     padding-right: 2vmax;
     flex-direction: column; */
  }

  .orderSummaray {
    padding: 4vmax 0;
    margin-top: 40px;

    border-top: 1px solid rgba(128, 128, 128, 0.205);
  }
}
/* --------color gradiants--------------  */
.bg-primary {
  background-color: #9321df;
}
.col-primary {
  color: #9321df;
}
.cg-pink {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.cg-purple {
  background-image: linear-gradient(135deg, #aa057e 10%, #3813c2 100%);
}

.cg-green {
  background-image: linear-gradient(132deg, #ecd60d 0%, #16a01d 100%);
}

.cg-green2 {
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

.cg-blue {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}

.cg-silver-blue {
  background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}

.cg-dark-red {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}

.cg-sblack {
  background-image: linear-gradient(135deg, #000000 10%, #b0bdbb 100%);
}
.cg-sblack {
  background-image: linear-gradient(135deg, #000000 10%, #b0bdbb 100%);
}
.cg-syellow {
  background-image: linear-gradient(135deg, #012df3 10%, #044d42 100%);
}
/* //-------------------------------------------------------- */

#signUpImage > input {
  display: flex;
  padding: 0;
  width: 100%;
}

#signUpImage > input::file-selector-button {
  z-index: 2;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--title-color);
}

#signUpImage > input::file-selector-button:hover {
  background-color: rgba(206, 206, 206, 0.527);
}
